<template>
  <q-dialog :value="value" @input="toggle">
    <q-card class="coest-font-dosis-only" :style="`width: ${coest.pageWidth - 100}px`">
      <q-card-section>
        <div class="text-h6 text-weight-bolder">Addition configuration</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form ref="form">
          <div class="row q-mb-md">
            <div class="col">
              <Banner :color="coest.qCInfo" icon="info">
                If you arguments contain whitespace character (for line case),
                linebreak (for file case) or even quotation marks.
                You can wrap arguments in cases with <strong>single quote</strong>
                or <strong>double quote</strong>. <strong><u>But do not mix</u></strong>
              </Banner>
            </div>
          </div>
          <q-input
            dense
            borderless
            :color="coest.qColor"
            :value="config['entry']"
            class="coest-font-dosis-only"
            @input="set('entry', $event)"
            :rules="[v => !!v || 'Entry file is required']"
          >
            <template #before>
              <q-icon name="launch" :color="coest.qColor" class="float-left"/>
              <span class="q-ml-sm text-weight-bolder coest-font-dosis q-mr-sm">Entry:</span>
            </template>
            <template #after>
              <q-select
                :value="config['type']"
                @input="set('type', $event)"
                borderless
                :color="coest.qColor"
                :options="coest.upload.type.value"
                hide-dropdown-icon
                dense
                popup-content-class="coest-font-dosis text-weight-bolder"
              >
                <template #selected>
                  <q-badge
                    class="coest-font-dosis-only text-weight-bolder"
                    style="height: 24px"
                    :color="coest.qBackground">
                    .{{ config['type'] }}
                  </q-badge>
                </template>
                <template #append>
                  <q-avatar v-if="config['type'] !== ''" class="q-pt-xs">
                    <img :src="coest.upload.type.img[config['type']]">
                  </q-avatar>
                </template>
                <template #after>
                  <q-icon name="help" size="18px">
                    <q-tooltip
                      :content-class="`bg-${coest.qColor} coest-font-dosis-tooltip`"
                      anchor="center right"
                      self="center left"
                    >
                      Name of file with <strong>main</strong> method<br>
                      Example: <strong>HelloWorld</strong>
                    </q-tooltip>
                  </q-icon>
                </template>
              </q-select>
            </template>
          </q-input>
          <div class="row q-mt-sm">
            <div class="col-4">
              <q-icon name="menu_open" class="float-left" size="sm" :color="coest.qColor"/>
              <span class="q-ml-sm text-weight-bolder coest-font-dosis">Case unit:</span>
            </div>
            <div class="col">
              <q-option-group
                dense
                inline
                class="q-ml-xs"
                :color="coest.qColor"
                :value="config['isFile']"
                :options="coest.options.isFile"
                @input="set('isFile', $event)"
              />
            </div>
            <div class="col-1">
              <q-icon name="help" color="grey-7" class="float-right">
                <q-tooltip
                  :content-class="`bg-${coest.qColor} coest-font-dosis-tooltip`"
                  anchor="center right"
                  self="center left"
                >
                  <strong>Line:</strong> each line is a case(expected result is at the end of line)<br>
                  <strong>File:</strong> each file is a case(expected result is the last line)
                </q-tooltip>
              </q-icon>
            </div>
          </div>
          <div class="row q-mt-md">
            <div class="col-4">
              <q-icon name="keyboard" class="float-left" size="sm" :color="coest.qColor"/>
              <span class="q-ml-sm text-weight-bolder coest-font-dosis">Input method:</span>
            </div>
            <div class="col">
              <q-option-group
                :value="config['stdin']"
                @input="set('stdin', $event)"
                :options="coest.options.stdin"
                :color="coest.qColor"
                class="q-ml-xs"
                inline
                dense
              />
            </div>
            <div class="col-1">
              <q-icon name="help" color="grey-7" class="float-right">
                <q-tooltip
                  :content-class="`bg-${coest.qColor} coest-font-dosis-tooltip`"
                  anchor="center right"
                  self="center left"
                >
                  <strong>Argument:</strong> input as command line arguments<br>
                  <strong>Stdin:</strong> input as standard input stream
                </q-tooltip>
              </q-icon>
            </div>
          </div>
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <DialogButtons label="Upload" icon="upload" @click="confirm"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import DialogButtons from "components/DialogButtons";
import Banner from "components/Banner";

export default {
  name: 'Configuration',
  components: {Banner, DialogButtons},
  props: {
    value: Boolean,
    config: Object
  },
  methods: {
    set(field, value) {
      const temp = Object.assign({}, this.config)
      temp[field] = value
      this.$emit('update:config', temp)
    },
    /**
     * Toggle Configuration and reset validation
     */
    toggle($event) {
      this.$refs['form']?.resetValidation()
      this.$emit('input', $event)
    },
    /**
     * Confirm with these configuration and start the Upload process
     */
    async confirm() {
      if (await this.$refs['form'].validate()) {
        this.$emit('confirm')
        this.$emit('input', false)

      }
    }
  }
}
</script>
