<template>
  <div class="row">
    <div class="col" :style="`width: ${width}px`">
      <q-file
        dense
        rounded
        outlined
        bottom-slots
        :value="value"
        :accept="accept"
        :label="label"
        bg-color="white"
        :color="wrappedColor"
        :loading="loading && !done && !failed"
        :disable="loading || done && !canExpand"
        :max-file-size="maxSize"
        :counter="showProgress"
        :counter-label="canExpand ? () => ('') : progressLabel"
        @input="inputOrInject($event)"
        :clearable="canExpand || (!done && !failed) && isFile"
        input-class="coest-font-dosis text-weight-bolder"
      >
        <template #before>
          <q-btn
            v-if="expandable && canExpand"
            flat round :color="wrappedColor"
            icon="arrow_drop_up"
            :disable="loading"
            :ripple="false"
            @click="$emit('update:expand', !expand)"
            :class="`coest-flippable ${!expand || 'coest-flipped-vertical'}`"
          />
          <q-btn
            v-else-if="expandable && !canExpand"
            flat round :color="wrappedColor"
            icon="work"
            :disable="loading"
          />
          <q-icon v-else-if="canInject && inInjectorMode" :color="wrappedColor" name="play_arrow"></q-icon>
          <q-icon v-else :color="wrappedColor" name="code"></q-icon>
        </template>

        <template #after>
          <q-btn
            v-if="(uploadable || done) && !inInjectorMode || failed"
            flat
            round
            :icon="done ? 'download' : (failed ? 'loop' : 'upload')"
            :color="wrappedColor"
            :loading="loading && !done && !failed"
            :disable="loading || value === null"
            @click="$emit(done ? 'download' : (failed ? (inInjectorMode ? 'retryAll' : 'retry') : 'upload'))">
            <template #loading>
              <q-spinner-facebook
                :color="wrappedColor"
              />
            </template>
          </q-btn>
        </template>

        <template #prepend>
          <q-icon :color="wrappedColor" :name="icon"/>
        </template>

        <template #append>
          <q-icon v-if="!loading && value === null" :color="wrappedColor" name="add_box" @click.stop/>
        </template>

        <template #loading>
          <q-spinner-ios
            :color="wrappedColor"
          />
        </template>

        <template #hint>
          <q-linear-progress
            rounded
            size="8px"
            :value="progress / 100"
            :color="wrappedColor"
            v-if="showProgress"
            :indeterminate="canExpand"
            :style="`width: ${width - 90}px`"/>
        </template>
      </q-file>
    </div>
  </div>
</template>

<script>
import JSZip from "jszip";

export default {
  name: 'Container',
  data: () => ({
    inInjectorMode: null
  }),
  props: {
    value: {},
    // Have type only
    width: Number,          // Width of the container
    showProgress: Boolean,  // Show progress bar under the container
    expandable: Boolean,    // Container can contain child container
    uploadable: Boolean,    // Determine if this container is uploadable
    //  disable: Boolean,       // Determine if this container is disabled
    loading: Boolean,       // Determine if this container is loading
    expand: Boolean,        // Expand status of container
    canExpand: Boolean,     // Determine if this container can be expand when it is expandable
    accept: String,         // File type upload
    label: String,          // Label of container
    canInject: Boolean,     // Determine if this container can read and inject to sibling container
    done: Boolean,          // Determine if this container is done
    failed: Boolean,        // Determine if this container is failed
    // Have default
    color: {
      type: String,
      default: 'purple-9'
    },
    icon: {
      type: String,
      default: ''
    },
    progress: {
      type: Number,
      default: 50
    },
    maxSize: {
      type: String,
      default: '5242880'
    }
  },
  computed: {
    isFile() {
      return this.value instanceof File;
    },
    wrappedColor() {
      return this.done ? this.coest.qCDone : (this.failed ? this.coest.qCNone : this.color)
    }
  },
  watch: {
    canInject(value) {
      this.inInjectorMode = value
    }
  },
  methods: {
    onRejected(rejectedEntries) {
      //  Notify plugin needs to be installed
      //  https:// quasar.dev/quasar-plugins/notify#Installation
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`
      })
    },
    progressLabel() {
      return `${this.progress}%`
    },
    inputOrInject(event) {
      this.canInject
        ? this.inject(event)
        : this.$emit('input', event);
    },
    // If the first zip file contains only zip files, automatically inject all zip file to all containers slot
    // This method only fake the file. Not actually create new file for containers
    // Real file still lie in the main zip
    inject(value) {
      JSZip().loadAsync(value === null
        // If value null
        // Must check if we should reset containers because of the injection
        // Or we should emit null as input so Resource will only delete that container instead reset
        ? this.value
        // Else, we should check if the zip file can be inject
        : value
      )
        .then(zip => {
          const filenames = Object.keys(zip.files);
          filenames.findIndex(item => !(/\.zip$/.test(item))) === -1
            ? (() => {
              this.$emit(
                'inject',
                value === null
                  ? [null]
                  : [value].concat(filenames.map(name => ([{
                    name: name,
                    size: zip.files[name]['_data']['uncompressedSize']
                  }])))
              )
              this.inInjectorMode = true
            })()
            : (() => {
              this.$emit('input', value)
              this.inInjectorMode = value === null // This line will change the inject icon
            })(); // zip file does not contain only zip file
        })
        .catch(err => console.log(err))
      // value === null
      //   // If value null
      //   // Must check if we should reset containers because of the injection
      //   // Or we should emit null as input so Resource will only delete that container instead reset
      //   ? JSZip().loadAsync(this.value)
      //     .then(zip => {
      //       const filenames = Object.keys(zip.files);
      //       filenames.findIndex(item => !(/\.zip$/.test(item))) === -1
      //         ? this.$emit('inject', [null])
      //         : this.$emit('input', value); // zip file does not contain only zip file
      //     })
      //     .catch(err => console.log(err))
      //   // Else, we should check if the zip file can be inject
      //   : JSZip().loadAsync(value)
      //     .then(zip => {
      //       const filenames = Object.keys(zip.files);
      //       filenames.findIndex(item => !(/\.zip$/.test(item))) === -1
      //         ? this.$emit('inject', [value].concat(filenames.map(name => ([{name: name, size: zip.files[name].size}]))))
      //         : this.$emit('input', value); // zip file does not contain only zip file
      //     })
      //     .catch(err => console.log(err))
    },
    mounted() {
      this.inInjectorMode = this.canInject
    }
  }
}
</script>
