<template>
  <q-dialog :value="value" @input="$emit('input', $event)">
    <q-card class="coest-font-dosis-only" style="min-width: 600px">
      <q-card-section>
        <div class="text-h6 text-weight-bolder">Report download</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="coest-font-dosis">Choose your file format</div>
        <q-select
          :color="coest.qColor"
          outlined v-model="format"
          :options="coest.download.type.options"
          :option-value="v => v['value']"
          emit-value
          map-options
          :disable="loading"
          options-selected-class="coest-font-dosis text-weight-bolder"
        >
          <template #selected-item="{opt}">
            <div class="coest-font-dosis text-weight-bolder">{{ opt['label'] }}</div>
          </template>
          <template #append>
            <q-avatar>
              <img :src="coest.download.type.img[format]">
            </q-avatar>
          </template>
        </q-select>
        <div class="flex flex-center q-mt-lg">
          <q-btn
            round
            :loading="loading"
            :disable="loading"
            size="lg"
            :color="loading ? coest.qCProc : (done ? coest.qCDone : coest.qColor)"
            class="coest-font-dosis text-weight-bolder"
            icon="download_for_offline"
            @click="generate"
          >
            <template #loading>
              <q-spinner-gears
                color="white"
              />
            </template>
          </q-btn>
        </div>
        <div v-if="count !== null" class="flex flex-center q-mt-lg">
          <div class="coest-font-dosis text-weight-bolder text-h5">
            {{ count === 0 ? 'Your download has started!' : `Your download will start in ${count}` }}
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import {exportHTML, exportCSV, exportXLSX} from "src/plugins/export";

export default {
  name: 'Download',
  data: () => ({
    format: 'html',
    loading: false,
    done: false,
    count: null,
  }),
  props: {
    value: Boolean,
    data: {
      type: Object,
      default: () => ({
        detail: false,
        name: 'official.zip',
        result: [
          {
            name: '51704032.zip',
            result: [
              {
                expected: "ahihi ahehe---ahoho\n",
                final: true,
                input: "\"ahihi ahehe\" \"ahoho\"",
                output: "ahihi ahehe---ahoho\n"
              },
              {
                expected: "ahaha ahihi---ahoho\n",
                final: false,
                input: "\"ahaha ahihi\" \"ahoho\"",
                output: "ahihi ahehe---ahoho\n"
              },
              {
                expected: "ihaha ahehe---ahoho\n",
                final: true,
                input: "\"ihaha ahehe\" \"ahoho\"",
                output: "ihaha ahehe---ahoho\n"
              },
            ]
          },
          {
            name: '51704071.zip',
            result: [
              {
                expected: "ahihi ahehe---ahoho\n",
                final: true,
                input: "\"ahihi ahehe\" \"ahoho\"",
                output: "ahihi ahehe---ahoho\n"
              },
              {
                expected: "ahaha ahihi---ahoho\n",
                final: false,
                input: "\"ahaha ahihi\" \"ahoho\"",
                output: "ahihi ahehe---ahoho\n"
              },
              {
                expected: "ihaha ahehe---ahoho\n",
                final: true,
                input: "\"ihaha ahehe\" \"ahoho\"",
                output: "ihaha ahehe---ahoho\n"
              },
            ]
          }
        ]
      })
    }
  },
  watch: {
    value(value) {
      !value && (this.name = this.file = this.count = null)
    }
  },
  methods: {
    async generate() {
      this.loading = true
      this.count = 5
      // Set interval
      const interval = setInterval(() => this.count--, 1000)

      // Prep downloader
      const exporter = await this.prep(
        this.data['detail'] ? this.data : this.data['result'],
        this.data['name'],
      )

      setTimeout(() => {
        clearInterval(interval)
        this.loading = false
        this.count = 0
        exporter()
      }, 5000)
    },
    async prep(data, name) {
      const options = this.coest.export[this.data.summary ? 'summary' : 'detail']
      const subOptions = !Array.isArray(this.data.options) && typeof this.data.options === 'object'
        ? this.data.options
        : {}

      if (this.format === 'html') return exportHTML(data, name, {...options.html, ...subOptions})
      else if (this.format === 'csv') return exportCSV(data, name, {...options.html, ...subOptions})
      else if (this.format === 'xlsx') return exportXLSX(data, name, {...options.html, ...subOptions})
    },
  }
}
</script>
