<template>
  <q-expansion-item
    v-model="expanded"
    icon="auto_stories"
    label="Instruction"
    expand-icon-class="text-white"
    :style="`width: ${coest.pageWidth + 100}px`"
    :header-class="`rounded-borders bg-${coest.qColor} q-mb-sm coest-font-dosis text-weight-bolder text-white shadow-2  `"
  >
    <q-stepper
      v-model="step"
      ref="stepper"
      animated
      vertical
      header-nav
      class="coest-font-dosis"
      active-icon="auto_stories"
      :error-color="coest.qCNone"
      :done-color="coest.qCDone"
      :active-color="coest.qCProc"
      :inactive-color="coest.qColor"
      :style="`width: ${coest.pageWidth + 100}px`"
    >
      <q-step
        :name="1"
        title="Upload Testcase"
        icon="article"
        :done="step > 1"
        style="text-align: justify"
      >
        Click to the <strong>Testcase</strong> box and upload your testcase. <strong>Testcase</strong>
        file can be a
        <q-chip class="coest-font-dosis text-weight-bolder" dense label=".txt"/>
        file or a
        <q-chip class="coest-font-dosis text-weight-bolder" dense label=".zip"/>
        file that contains only
        <q-chip class="coest-font-dosis text-weight-bolder" dense label=".txt"/>
        files.
      </q-step>

      <q-step
        :name="2"
        title="Upload Sources"
        icon="archive"
        :done="step > 2"
        style="text-align: justify"
      >
        Click to the <strong>Source</strong> box and upload your source files. <strong>Source</strong>
        can only be a
        <q-chip class="coest-font-dosis text-weight-bolder" dense label=".zip"/>
        file. <br>
        You can manually upload multiple source file. Otherwise, you can compress all of them into
        <q-chip class="coest-font-dosis text-weight-bolder" dense label=".zip"/>
        file and upload
        it. We can <strong>inject</strong> them in the <strong>Source</strong> box for you.
      </q-step>

      <q-step
        :name="3"
        title="Configure options"
        icon="settings"
        :done="step > 3"
        style="text-align: justify"
      >
        Press
        <q-btn :color="coest.qColor" size="sm" icon="upload" flat round @click="notifyGood"/>
        to open the
        <strong>Additional configuration</strong> dialog. <br>
        <ul>
          <li>
            <i>Firstly,</i> you need to input
            <q-icon name="launch" :color="coest.qColor"/>
            <span class="q-ml-sm text-weight-bolder coest-font-dosis q-mr-sm">Entry</span>.
            This is the file with the <strong>main</strong> method.
          </li>
          <li>
            <i>Secondly,</i> you need to input
            <q-icon name="menu_open" size="sm" :color="coest.qColor"/>
            <span class="q-ml-sm text-weight-bolder coest-font-dosis">Case unit</span>.
            This option determines if testcase should be a single line or an entire file.
          </li>
          <li>
            <i>Thirdly,</i> you need to input
            <q-icon name="keyboard" size="sm" :color="coest.qColor"/>
            <span class="q-ml-sm text-weight-bolder coest-font-dosis">Input method</span>.
            This option determines if testcase should be read by command line arguments or
            standard stream.
          </li>
          <li>
            <i>Finally,</i> press
            <q-btn flat icon-right="done" label="Confirm" :color="coest.qCDone" @click="notifyGood"
                   class="coest-font-dosis-only text-weight-bolder"/>
          </li>
        </ul>
      </q-step>

      <q-step
        :name="4"
        title="Waiting"
        icon="hourglass_top"
        :done="step > 4"
        style="text-align: justify"
      >
        The color will determine the box status
        <ul>
          <li>
            <span :class="`text-${coest.qColor} text-weight-bolder`">Purple</span> is for <strong>inactive</strong>.
          </li>
          <li>
            <span :class="`text-${coest.qCProc} text-weight-bolder`">Orange</span> is for <strong>active</strong>.
            It means the box is working.
          </li>
          <li>
            <span :class="`text-${coest.qCDone} text-weight-bolder`">Green</span> is for <strong>resolve</strong>.
            It means the box is finished and ready to be download.
          </li>
        </ul>
        You need to wait until the whole box turned green and the
        <q-btn :color="coest.qColor" size="sm" icon="upload" flat round @click="notifyGood"/>
        button change to
        <q-btn :color="coest.qCDone" size="sm" icon="download" flat round @click="notifyGood"/>
        button.
      </q-step>

      <q-step
        :name="5"
        title="Download"
        icon="download"
        :done="step > 5"
        style="text-align: justify"
      >
        When a box is completed,
        <q-btn :color="coest.qCDone" size="sm" icon="download" flat round @click="notifyGood"/>
        buttons will appear. <br>
        If you click the
        <q-btn :color="coest.qCDone" size="sm" icon="download" flat round @click="notifyGood"/>
        button
        <ul>
          <li>
            Next to the <strong>Testcase</strong> box, you can download the reports of all
            uploaded <strong>Source</strong>.
          </li>
          <li>
            Next to the <strong>Source</strong> box, you can download that <strong>Source</strong>'s
            report individually.
          </li>
        </ul>
        On the top left corner of the outside frame that cover all boxes, you can see a bar.<br>
        <q-bar :class="`header bg-${coest.qColor} coest-font-dosis-only`" :style="`width: ${coest.pageWidth / 2}`">
          <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCNone"/>
          <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCProc"/>
          <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCDone"/>
          <div class="col text-center text-weight-bold text-white">Workspace</div>
          <q-space/>
          <q-btn
            dense
            flat
            class="text-weight-bolder"
            text-color="white"
            label="Summarize"
            icon="download"
            @click="notifyGood"
          />
        </q-bar>
        In this bar, you can
        <ul>
          <li>
            Click the <strong>Workspace</strong> to change the workspace name. The summary report will
            be named after this.
          </li>
          <li>
            Click the
            <q-btn
              dense
              flat
              class="text-weight-bolder"
              text-color="white"
              label="Summarize"
              icon="download"
              @click="notifyGood"
            />
            button to download the summary report of all <strong>Source</strong>
          </li>
        </ul>
        After you press all types of download button, a dialog will show. In this dialog <br>
        <ul>
          <li>
            Firstly, choose your favorite format
          </li>
          <li>
            Secondly, click
            <q-btn
              round
              size="lg"
              :color="coest.qColor"
              class="coest-font-dosis text-weight-bolder"
              icon="download_for_offline"
              @click="notifyGood"
            >
            </q-btn>
            button to generate download. The download will automatically start after 5 second.
          </li>
        </ul>
      </q-step>

      <q-step
        :name="6"
        title="Congratulation"
        icon="thumb_up"
        active-icon="done"
        :active-color="coest.qCDone"
        style="text-align: center"
      >
      <span class="text-weight-bolder text-h4">
        <q-icon name="sentiment_very_satisfied" :color="coest['qColor']"/>
        You are good to go. Have fun!
        <q-icon name="sentiment_very_satisfied" :color="coest['qColor']"/>
      </span>
      </q-step>
      <template #navigation>
        <q-stepper-navigation>
          <q-btn
            v-if="step > 1"
            flat
            :color="step === 6 ? coest.qCDone : coest.qCProc"
            @click="step === 6 ? expanded = false : $refs.stepper.previous()"
            :label="step === 6 ? 'Close' : 'Back'"
            class="coest-font-dosis-tooltip text-weight-bolder q-mx-sm"/>
          <q-btn
            v-if="step < 6"
            @click="$refs.stepper.next()"
            :color="coest.qCProc"
            class="coest-font-dosis-tooltip text-weight-bolder"
            :label="step === 5 ? 'Finish' : 'Continue'"/>
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </q-expansion-item>
</template>

<script>
import {LocalStorage} from "quasar";

export default {
  // name: 'ComponentName',
  data: () => ({
    step: 1,
    expanded: !!LocalStorage.getItem('inst')
  }),
  methods: {
    notifyGood() {
      this.$notify.pos('Well done!', 'top')
    }
  }
}
</script>
