<template>
  <div>
    <div class="row">
      <div class="col">
        <Container
          :value="testcase"
          @input="inputTestCase($event)"
          expandable
          uploadable
          :color="color"
          icon="article"
          label="Testcase"
          accept=".txt,.zip"
          :loading="loading"
          :disable="loading"
          :expand.sync="expand"
          :width="coest.pageWidth"
          :show-progress="loading"
          @upload="$emit('upload')"
          @download="$emit('summary')"
          :can-expand="this.containers && this.containers.length > 0"
          :done="containers && Object.values(done).length === containers.length"
        ></Container>
      </div>
    </div>
    <transition-group
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <template v-if="expand">
        <div
          v-for="n in containers.length"
          :key="n"
          class="row"
        >
          <div class="col-12" style="padding-left: 48px">
            <Container
              accept=".zip"
              icon="archive"
              label="Source"
              :loading="loading"
              :progress="progress"
              :done="!!done[n - 1]"
              :failed="!!failed[n - 1]"
              :can-inject="n === 1"
              :value="containers[n - 1]"
              :width="coest['pageWidth'] - 48"
              @download="$emit('download', n - 1)"
              @inject="rawInputContainers($event)"
              @input="inputContainers(n - 1, $event)"
              :show-progress="track + 1 === n && progress !== 0"
              :color="color"
            ></Container>
          </div>
        </div>
      </template>
    </transition-group>
    <ConfirmDialog
      v-model="confirm"
      v-if="containers && Object.values(done).length === containers.length"
      content="This action can not be undo"
      icon="warning"
      @click="confirmClear"
    />
  </div>
</template>

<script>
// Component
import Container from "components/Upload/Container";
import ConfirmDialog from "components/ConfirmDialog";

// Method
import _ from "lodash";
import {mapFields} from "vuex-map-fields";

export default {
  name: 'Resource',
  components: {ConfirmDialog, Container},
  data: () => ({
    //containers
    expand: false,

    /** Confirm delete dialog after uploaded */
    confirm: false
  }),
  props: {
    loading: Boolean,
    done: Object,
    failed: Object,
    color: {
      type: String,
      default: 'purple-9'
    },
    testcase: {
      type: File,
      default: null
    },
    containers: {
      type: Array,
      default: null
    },
    //Track which source is processing
    track: {
      type: Number,
      default: 0
    },
    progress: {
      type: Number,
      default: 0
    },
  },
  computed: {
    ...mapFields('layout', [
      'activeDialog'
    ]),
    ...mapFields('upload', [
      'isWorking'
    ])
  },
  watch: {
    confirm(value) {
      this.activeDialog = value
    },
    testcase(value, old) {
      this.expand = value !== null;
      this.$emit('update:containers', this.expand
        ? this.containers ?? [null]
        : null);
      this.$emit(this.expand ? (old === null ? 'add' : '') : 'del');
    },
  },
  methods: {
    // Add a new container to resource if the last node is filled
    addContainer(index, value) {
      let local = this.clone()
      local[index] !== null || local.push(null)
      local[index] = value;
      return local;
    },
    // Remove a container if the last node is null
    delContainer(index) {
      let local = this.clone()
      local.splice(index, 1)
      return local;
    },
    // Sync the global containers
    inputContainers(index, value) {
      this.rawInputContainers(
        value === null
          ? this.delContainer(index)
          : this.addContainer(index, value),
        false
      );
    },
    // Sync the global testcase
    inputTestCase(value) {
      value === null && _.size(this.done) > 0
        ? this.confirm = true
        : this.$emit('update:testcase', value)
    },
    // Sync the global containers raw. Determine if injection is happened
    rawInputContainers(value, injected = true) {
      this.$emit('injected', injected)
      this.$emit('update:containers', value)
    },
    // Clone the containers
    clone() {
      return Array.from(this.containers);
    },
    // Check if this Resource allow to be cleared
    confirmClear() {
      this.isWorking
        ? this.$notify.neg('Boxes are working')
        : this.$emit('update:testcase', null)
      this.confirm = false
    }
  },
}
</script>
