<template>
  <q-banner
    :class="`bg-${color} rounded-borders text-white coest-font-dosis-only`"
    :style="width === -1 ? '' : `width: ${width}px`">
    <template #avatar>
      <q-icon :name="icon" color="white"/>
    </template>
    <slot/>
  </q-banner>
</template>

<script>
export default {
  name: 'Banner',
  props: {
    color: String,
    icon: String,
    width: {
      type: Number,
      default: -1
    }
  },
}
</script>
