<template>
  <q-btn
    flat
    :loading="loading"
    :disable="loading"
    :icon-right="icon"
    :label="label"
    :color="!solid && loading ? coest.qCProc : coest.qColor"
    class="text-weight-bolder vertical-middle coest-font-dosis"
    :text-color="!solid && loading ? coest.qCProc : coest.qColor"
    @click="$emit('click')"
  >
    <template #loading>
      <q-spinner-facebook :color="solid ? coest.qColor : coest.qCProc"></q-spinner-facebook>
    </template>
  </q-btn>
</template>

<script>
export default {
  name: 'Button',
  props: {
    loading: Boolean,
    label: String,
    icon: String,
    solid: Boolean,
  }
}
</script>
