<template>
  <q-dialog :value="value" @input="$emit('input', $event)">
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar :icon="icon" :text-color="coest.qColor"/>
        <span class="q-ml-sm coest-font-dosis">{{ content }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <DialogButtons @click="$emit('click')"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import DialogButtons from "components/DialogButtons";

export default {
  name: 'ConfirmDialog',
  components: {DialogButtons},
  props: {
    value: Boolean,
    icon: String,
    content: String
  }
}
</script>
