<template>
  <div>
    <q-btn
      flat
      v-close-popup
      label="Cancel"
      :loading="loading"
      :disable="loading"
      icon-right="close"
      :color="coest.qCNone"
      class="coest-font-dosis-only text-weight-bolder"
      @click="$emit('cancel')"
    />
    <q-btn
      flat
      v-close-popup
      :label="label"
      :loading="loading"
      :disable="loading"
      :icon-right="icon"
      :color="coest.qCDone"
      class="coest-font-dosis-only text-weight-bolder"
      @click="$emit('click')"
    />
  </div>
</template>

<script>
export default {
  name: 'DialogButtons',
  props: {
    loading: Boolean,
    label: {
      type: String,
      default: 'Confirm'
    },
    icon: {
      type: String,
      default: 'done'
    }
  }
}
</script>
