<template>
  <q-editor
    :value="value"
    class="coest-font-dosis-only"
    @input="$emit('input', $event)"
    :toolbar="readOnly ? [] : coest.editor"
    :readonly="readOnly"
  />
</template>

<script>
export default {
  name: 'Editor',
  props: {
    value: String,
    readOnly: Boolean
  }
}
</script>
