<template>
  <div>
    <q-img src="idea.png" height="45vh" width="100%" style="position: absolute"></q-img>
    <div style="background: rgba(106,27,154,0.82); position: absolute; width: 100%; height: 45vh">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Overlay'
}
</script>
