<template>
  <q-dialog :value="value" @input="$emit('input', $event)">
    <q-card style="width: 400px">
      <q-card-section class="row items-center">
        <div class="text-h6 coest-font-dosis coest-text-primary">Setting</div>
      </q-card-section>

      <q-item
        v-for="config in configs"
        :key="config.title"
      >
        <q-item-section side top>
          <q-toggle v-model="config['local']"/>
        </q-item-section>

        <q-item-section>
          <q-item-label
            class="coest-font-dosis coest-text-primary text-weight-bolder"
          >
            {{ `${config['title']}: ${config['local'] ? 'On' : 'Off'}` }}
          </q-item-label>
          <q-item-label caption class="coest-font-dosis coest-text-secondary">
            {{ `${config['caption']} ` }}<strong>{{ `${config['local'] ? config['true'] : config['false']}` }}</strong>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-card-actions align="right">
        <q-card-actions align="right">
          <DialogButtons @click="confirm"/>
        </q-card-actions>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {LocalStorage} from "quasar";
import {mapFields} from "vuex-map-fields";
import DialogButtons from "components/DialogButtons";

export default {
  name: 'Setting',
  components: {DialogButtons},
  data: () => ({
    //Drawer config
    configs: [
      {
        local: !!LocalStorage.getItem('mini'),
        title: 'Mini mode',
        field: 'mini',
        caption: 'Left menu will now display as',
        true: 'icon',
        false: 'list'
      },
      {
        local: !!LocalStorage.getItem('classic'),
        title: 'Classic mode',
        field: 'classic',
        caption: 'Login page will now display as a',
        true: 'page',
        false: 'gate'
      },
      {
        local: !!LocalStorage.getItem('inst'),
        title: 'Instruction default',
        field: 'inst',
        caption: 'Instruction will always',
        true: 'show',
        false: 'closes'
      },
    ]
  }),
  props: {
    value: {}
  },
  computed: {
    ...mapFields('setting', [
      'mini', 'classic', 'inst'
    ])
  },
  methods: {
    //Set local to global config. Update localStorage
    confirm() {
      this.configs.map((v) => {
        this[v.field] = v.local;
        LocalStorage.set(v.field, this[v.field]);
      });
    },
    //Reset setting local if cancel
    cancel() {
      setTimeout(() => this.configs.map((v) => v.local = this[v.field]), 100);
    }
  }
}
</script>
