<template>
  <q-drawer
    :value="value"
    @input="$emit('input', $event)"
    :side="side"
    overlay
    :mini="mini"
    elevated
    :behavior="$q.screen.xs ? 'mobile' : 'desktop'"
  >
    <q-list>
      <q-item-label v-if="label !== ''" header class="text-grey-8"
        >{{ label }}
      </q-item-label>
      <q-item
        v-for="item in items"
        :key="item.title"
        clickable
        tag="router-link"
        :to="item.link"
        class="coest-item coest-font-dosis text-weight-bolder"
        active-class="coest-item-active"
      >
        <q-tooltip
          v-if="mini"
          anchor="center right"
          self="center start"
          content-class="coest-font-dosis-tooltip text-weight-bolder"
        >
          {{ item.title }}
        </q-tooltip>
        <q-item-section v-if="item.icon" avatar>
          <q-icon :name="item.icon" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ item.title }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script>
import { mapFields } from "vuex-map-fields";

export default {
  name: "SideMenu",
  props: {
    label: {
      type: String,
      default: ""
    },
    value: {},
    side: {
      type: String,
      default: "left"
    }
  },
  computed: {
    ...mapFields("setting", ["mini"]),
    items() {
      return [
        {
          title: "Upload resource",
          icon: "file_upload",
          link: "/Upload"
        },
        {
          title: "Manage Box",
          icon: "create_new_folder",
          link: "/Manage"
        },
        {
          title: "Find Box",
          icon: "view_in_ar",
          link: "/Box"
        }
      ];
    }
  }
};
</script>

<style scoped lang="scss">
.coest-item-active {
  color: white;
  background: $main;
}

//These is hard-coded css
::v-deep .q-hoverable {
  &:hover {
    .q-focus-helper {
      color: $main !important;
    }
  }
}
</style>
