<template>
  <div class="wrapper" :style="`width: ${coest.pageWidth + 100}px`">
    <q-bar
      :class="`header bg-${coest.qColor} coest-font-dosis-only`"
      :style="`width: ${coest.pageWidth}px`"
    >
      <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCNone"/>
      <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCProc"/>
      <q-btn dense flat round icon="lens" size="8.5px" :color="coest.qCDone"/>
      <div class="col text-center text-weight-bold text-white coest-font-ellipsis">
        {{ value }}
        <q-popup-edit v-if="!readOnly" :value="value" @input="$emit('input', $event)" auto-save #default="scope">
          <q-input
            v-model="scope.value"
            dense
            autofocus
            :color="coest.qColor"
            input-class="coest-font-dosis text-weight-bolder"
            @keyup.enter="$emit('input', scope.value)"
          />
        </q-popup-edit>
      </div>
      <q-space/>
      <q-btn
        dense
        flat
        class="text-weight-bolder"
        text-color="white"
        :label="label"
        :icon="icon"
        @click="$emit('click')"
      />
    </q-bar>

    <div class="q-mt-md"></div>
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'Window',
  props: {
    value: String,
    label: String,
    icon: String,
    readOnly: Boolean
  },
  methods: {
    test(value) {
      console.log(value)
    }
  }
}
</script>

<style scoped lang="scss">
.wrapper {
  border: solid $purple-9;
  border-radius: 10px;
  padding: 8px 40px 0 40px;

  .header {
    position: absolute;
    margin-top: -25px;
    border-radius: 10px;
  }
}
</style>
