<template>
  <q-dialog :value="value" @input="$emit('input', $event)">
    <q-card class="coest-font-dosis-only q-pa-md" :style="`min-width: ${coest.pageWidth + 100}px`">
      <q-card-section>
        <div class="text-h6 text-weight-bolder">Add Box</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form ref="form">
          <div
            v-for="(row, index) in coest.structure.add"
            :key="index"
            class="row"
          >
            <div
              v-for="(key, col) in row"
              :key="col"
              class="col"
            >
              <TextField
                v-model="box[key]"
                :field="key"
                :loading="loading"
                :template="coest.field.add[key]"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-file
                v-model="box['file']"
                label="Testcase"
                input-class="coest-font-dosis"
                :label-color="coest.qColor"
                accept=".txt,.zip"
                max-file-size="5242880"
                :disable="loading"
                :color="coest.qColor"
                :lazy-rules="true"
                :rules="[v => v !== null || 'File is required!']"
              >
                <template #before>
                  <q-icon :color="coest.qColor" name="upload"/>
                </template>
              </q-file>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input
                v-model="box['entry']"
                dense
                :lazy-rules="true"
                :color="coest.qColor"
                input-class="coest-font-dosis"
                class="coest-font-dosis"
                :rules="[v => !!v || 'Entry file is required']"
              >
                <template #before>
                  <q-icon :color="coest.qColor" name="extension"/>
                </template>
                <template #prepend>
                  <q-avatar v-if="box['type'] !== ''">
                    <img :src="coest.upload.type.img[box['type']]">
                  </q-avatar>
                </template>
                <template #after>
                  <q-select
                    v-model="box['type']"
                    borderless
                    :color="coest.qColor"
                    :options="coest.upload.type.value"
                    hide-dropdown-icon
                    dense
                    popup-content-class="coest-font-dosis text-weight-bolder"
                  >
                    <template #selected>
                      <q-badge
                        class="coest-font-dosis-only text-weight-bolder"
                        style="height: 24px"
                        :color="coest.qBackground">
                        .{{ box['type'] }}
                      </q-badge>
                    </template>
                  </q-select>
                </template>
              </q-input>
            </div>
          </div>
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <DialogButtons @click="confirm"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {date} from "quasar";
import cryptoRandomString from "crypto-random-string";
import DialogButtons from "components/DialogButtons";
import TextField from "components/Information/TextField";

export default {
  name: 'Add',
  components: {TextField, DialogButtons},
  data: () => ({
    // Form structure
    box: {
      id: '',
      code: '',
      name: '',
      password: '',
      note: '',
      entry: '',
      type: 'java',
      deadline: date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm'),
      file: null
    },

    loading: false
  }),
  props: {
    value: Boolean
  },
  watch: {
    value(value) {
      if (value) this.box = {
        id: cryptoRandomString({length: 20, type: 'url-safe'}),
        code: cryptoRandomString({length: 10, type: 'url-safe'}),
        name: '',
        password: '',
        note: '',
        entry: '',
        type: 'java',
        deadline: date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm'),
        file: null
      }
    },
  },
  methods: {
    async confirm() {
      if (this.$refs['form'].validate()) {
        this.loading = true
        let formData = new FormData()
        // Append to form-data
        Object.keys(this.box).forEach(key => formData.append(key, this.box[key]))
        this.$axios().post('/box/add', formData, {headers: {'Content-Type': 'multipart/form-data'}})
          .then(res => res.data.success ? this.$notify.pos('Box created') : this.$notify.neg())
          .catch(err => console.log(err))
          .then(() => this.loading = false)

      }
    }
  }
}
</script>
