<template>
  <q-dialog :value="value" @input="$emit('input', $event)">
    <q-card class="coest-font-dosis-only q-pa-md" :style="`min-width: ${coest.pageWidth + 100}px`">
      <q-card-section>
        <div class="text-h5 text-weight-bolder">{{ title }} Box</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form ref="form">
          <div
            v-for="(row, index) in coest.structure.add"
            :key="index"
            class="row"
          >
            <div
              v-for="(key, col) in row"
              :key="col"
              class="col"
            >
              <TextField
                v-model="box[key]"
                :field="key"
                :loading="loading"
                :template="coest.field.add[key]"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-file
                v-model="box['file']"
                label="Testcase"
                input-class="coest-font-dosis"
                :label-color="coest.qColor"
                accept=".txt,.zip"
                max-file-size="5242880"
                :disable="loading"
                :color="coest.qColor"
                :lazy-rules="true"
                :rules="[v => v !== null || 'File is required!']"
              >
                <template #before>
                  <q-icon :color="coest.qColor" name="upload"/>
                </template>
                <template #after>
                  <q-btn
                    v-if="mode === 'update'"
                    flat
                    round
                    icon="download"
                    :disable="loading"
                    :loading="loading"
                    @click="download"
                    :color="loading ? coest.qCProc : coest.qColor"
                  />
                </template>
              </q-file>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input
                v-model="box['entry']"
                dense
                :lazy-rules="true"
                :color="coest.qColor"
                input-class="coest-font-dosis"
                class="coest-font-dosis"
                :rules="[v => !!v || 'Entry file is required']"
              >
                <template #before>
                  <q-icon :color="coest.qColor" name="extension"/>
                </template>
                <template #prepend>
                  <q-avatar v-if="box['type'] !== ''">
                    <img :src="coest.upload.type.img[box['type']]">
                  </q-avatar>
                </template>
                <template #after>
                  <q-select
                    v-model="box['type']"
                    borderless
                    :color="coest.qColor"
                    :options="coest.upload.type.value"
                    hide-dropdown-icon
                    dense
                    popup-content-class="coest-font-dosis text-weight-bolder"
                  >
                    <template #selected>
                      <q-badge
                        class="coest-font-dosis-only text-weight-bolder"
                        style="height: 24px"
                        :color="coest.qBackground">
                        .{{ box['type'] }}
                      </q-badge>
                    </template>
                  </q-select>
                </template>
              </q-input>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input value="" label="Case unit" readonly borderless :color="coest.qColor">
                <template #before>
                  <q-icon name="menu_open" :color="coest.qColor"/>
                </template>
              </q-input>
              <q-option-group
                v-model="box['isFile']"
                dense
                inline
                :color="coest.qColor"
                :options="coest.options.isFile"
              />
            </div>
            <div class="col">
              <q-input value="" label="Input method" readonly borderless :color="coest.qColor">
                <template #before>
                  <q-icon name="keyboard" :color="coest.qColor"/>
                </template>
              </q-input>
              <q-option-group
                v-model="box['stdin']"
                dense
                inline
                :color="coest.qColor"
                :options="coest.options.stdin"
              />
            </div>
          </div>
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <DialogButtons @click="confirm"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
// Component
import DialogButtons from "components/DialogButtons";
import TextField from "components/Information/TextField";

// Method
import {date} from "quasar";
import cryptoRandomString from "crypto-random-string";
import {saveAs} from "file-saver";

const crs = (length = 20) => (
  cryptoRandomString({length: length, type: 'base64'}).toLowerCase().replace(/\/+|\++/g, 'z')
);

export default {
  name: 'Detail',
  components: {TextField, DialogButtons},
  data: () => ({
    // Form structure
    box: {
      id: '',
      code: '',
      name: '',
      password: '',
      note: '',
      entry: '',
      type: 'java',
      stdin: 0,
      isFile: 0,
      deadline: date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm'),
      file: null,
    },

    loading: false
  }),
  props: {
    value: Boolean,
    detail: Object,
    mode: String,
  },
  computed: {
    title() {
      return this.mode.charAt(0)?.toUpperCase() + this.mode.substring(1)
    }
  },
  watch: {
    value(value) {
      if (value) this.box = this.mode === 'add'
        ? {
          id: crs(),
          code: crs(10),
          name: '',
          password: '',
          note: '',
          entry: '',
          type: 'java',
          stdin: 0,
          isFile: 0,
          deadline: date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm'),
          file: null
        }
        : {
          ...this.detail,
          ...{
            file: new File([], this.detail.file)
          },
          ...{
            deadline: date.formatDate(this.detail['deadline'], 'YYYY-MM-DD HH:mm'),
          }
        }
    },
  },
  methods: {
    async confirm() {
      if (this.$refs['form'].validate()) {
        this.loading = true
        let formData = new FormData()
        // Append to form-data
        Object.keys(this.box).forEach(key => formData.append(key, this.box[key]))
        this.$axios().post(
          `/box/${this.mode === 'add' ? 'add' : `update/${this.box.code}`}`,
          formData,
          {headers: {'Content-Type': 'multipart/form-data'}}
        )
          .then(res => {
            res.data.success
              ? this.$notify.pos(`Box ${this.mode === 'add' ? 'added' : 'updated'}`)
              : this.$notify.neg()
            this.$emit('shouldFetch');
          })
          .catch(err => console.log(err))
          .then(() => this.loading = false)
      }
    },
    async download() {
      this.loading = true
      this.$axios().get(`/box/download/${this.box['code']}`, {responseType: 'arraybuffer'})
        .then(res => res.data.success
          ? saveAs(
            new Blob([res.data], {type: 'text/octet-stream;charset=utf-8'}),
            this.box.file['name']
          )
          : this.$notify.neg('Download failed'))
        .catch(err => console.log(err))
        .then(() => this.loading = false)
    }
  },
}
</script>
