// app global css in SCSS form
html {
  overflow-x: hidden !important;
}

.coest-bg-primary {
  background: $main;
}

.coest-bg {
  //background: #E6E7E9;
  background: $background;
}

.coest-text-primary {
  color: $main;
}

.coest-text-secondary {
  color: #697a89;
}

.coest-bordered {
  border: $main solid !important;
}

.coest-fullscreen {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2001;
  position: absolute;
}

.coest-noscroll {
  overflow: hidden;
}

.coest-author-avatar {
  position: absolute;
  transform: translate(75%, -75%);
  clip-path: circle(50% at 50% 50%);
}

.coest-font-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.coest-no-decoration {
  text-decoration: none;
}

.coest-font-dosis {
  font-family: 'Dosis', monospace;
  font-size: 18px;
  color: #091e42;
}

.coest-font-dosis-only {
  font-family: 'Dosis', monospace;
  font-size: 18px;
}

.coest-font-dosis-header {
  font-family: 'Dosis', monospace;
  color: #091e42;
}

.coest-font-dosis-tooltip {
  font-family: 'Dosis', monospace;
  font-size: 14px;
}

.coest-hover-spin {
  .spinable {
    transition: transform 0.8s ease-in-out;
  }

  &:hover {
    .spinable {
      transform: rotate(calc(360deg * 1.5));
    }
  }
}

.coest-flippable {
  transition: transform 0.3s ease-in-out;
}

.coest-flipped-vertical {
  transform: rotate(180deg);
}

.coest-top-left {
  top: 0;
  left: 0;
  z-index: 2002;
  position: absolute;
}

.coest-top-right {
  top: 0;
  right: 0;
  z-index: 2002;
  position: absolute;
}

.coest-hover-color {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;

  &:hover {
    filter: grayscale(0);
  }
}

.coest-rotate {
  animation: rotating 0.8s infinite;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis-VariableFont_wght.ttf');
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

