<template>
  <div ref="carousel">
    <q-carousel
      vertical
      animated
      keep-alive
      height="100vh"
      v-model="slide"
      :swipeable="!isDesktop"
      :navigation="isDesktop"
      transition-next="slide-up"
      transition-prev="slide-down"
      control-text-color="purple-9"
      :arrows="isDesktop && !classic"
      class="shadow-1 rounded-borders"
      navigation-icon="radio_button_unchecked"
    >
      <q-carousel-slide :name="slideList[0]" class="column no-wrap flex-center coest-bg">
        <Logo height="100px"></Logo>
      </q-carousel-slide>
      <q-carousel-slide :name="slideList[1]" class="column no-wrap flex-center bg-white">
        <div class="text-left">
          <q-img
            alt="info"
            :style="`width: ${$q.screen.width / 2}px; height: ${$q.screen.width / 4}px`"
            src="~assets/images/code-testing.png">
            <template #loading>
              <q-spinner-gears color="black"/>
            </template>
          </q-img>
          <div class="coest-font-dosis text-bold" :style="`width: ${$q.screen.width / 2 - 100}px; margin: auto`">
            <div class="text-h3 text-weight-bolder q-mb-lg q-mt-sm">Test your code with a click</div>
            <ul :style="`color: ${coest.lightTextColor}; padding-left: 15px; font-size: 16px`">
              <li>Upload your code</li>
              <li>Upload your testcase</li>
              <li>CLICK!</li>
            </ul>
          </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="slideList[2]" class="column no-wrap flex-center coest-bg">
        <div class="coest-font-dosis text-bold" :style="`width: ${$q.screen.width / 2 - 100}px; margin: auto`">
          <div class="text-h3 text-weight-bolder q-mb-lg">Support languages</div>
          <ul :style="`color: ${coest.lightTextColor}; padding-left: 15px; font-size: 16px; list-style: none`">
            <li>
              <q-img class="q-mr-md q-mb-md" src="~assets/images/cpp.svg" width="50px"></q-img>
              C/C++
            </li>
            <li>
              <q-img class="q-mr-md" src="~assets/images/java.png" width="50px"></q-img>
              Java
            </li>
          </ul>
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="slideList[3]" class="column no-wrap flex-center bg-white">
        <div class="text-center">
          <div class="coest-font-dosis text-bold" :style="`width: ${$q.screen.width / 2}px`">
            <div class="text-h3 text-weight-bolder q-mb-lg">Crafted with</div>
            <div class="row q-mt-xl">
              <div class="col-12 col-md-6 q-mb-md">
                <a href="https://quasar.dev/">
                  <q-img
                    :class="`${isDesktop ? 'coest-hover-color' : ''} coest-no-decoration`"
                    src="~assets/images/quasar.png"
                    width="150px"></q-img>
                </a>
              </div>
              <div class="col-12 col-md-6 q-mb-md">
                <a href="https://vuejs.org/">
                  <q-img
                    :class="`${isDesktop ? 'coest-hover-color' : ''} coest-no-decoration`"
                    src="~assets/images/vuejs.png"
                    width="150px"
                    height="55px"></q-img>
                </a>
              </div>
            </div>
            <q-separator v-if="!isDesktop" inset/>
            <div class="row q-mt-md">
              <div class="col-12 col-md-6 q-mb-md">
                <a href="https://expressjs.com/">
                  <q-img
                    :class="`${isDesktop ? 'coest-hover-color' : ''} coest-no-decoration`"
                    src="~assets/images/expressjs.png"
                    width="150px"></q-img>
                </a>
              </div>
              <div class="col-12 col-md-6 q-mb-md">
                <a href="https://nodejs.org/en/">
                  <q-img
                    :class="`${isDesktop ? 'coest-hover-color' : ''} coest-no-decoration`"
                    src="~assets/images/nodejs.png"
                    width="150px"></q-img>
                </a>
              </div>
            </div>
          </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="slideList[4]" class="column no-wrap flex-center coest-bg">
        <Self :width="$q.screen.width / 4"></Self>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
import Self from "components/Information/Self";
import Logo from "components/Information/Logo";
import {mapFields} from "vuex-map-fields";

export default {
  name: 'About',
  components: {Logo, Self},
  data: () => ({
    slide: 'brand',
    slideIndex: 0,
    slideList: ['brand', 'info', 'support', 'structure', 'author'],
    img: null,
    allowTrans: true,
  }),
  computed: {
    //Check what type of device is currently used
    isDesktop() {
      return !this.$q.screen.sm && !this.$q.screen.xs;
    },
    ...mapFields('setting', [
      'classic'
    ])
  },
  watch: {
    //If slideIndex is changed, the carousel should change to new slide
    slideIndex(value) {
      this.slide = this.slideList[value];
    }
  },
  methods: {
    //Only allow to change slide by wheel for each 1 second
    wheelHandler(event) {
      if (this.allowTrans) {
        console.log(event.deltaY)
        console.log(this.loop(this.slideIndex, [0, this.slideList.length - 1], event.deltaY > 0));
        //Check for wheel direction
        this.slideIndex = this.loop(this.slideIndex, [0, this.slideList.length - 1], event.deltaY > 0)
        this.allowTrans = false;
        setTimeout(() => this.allowTrans = true, 300);
      }
    },
    //Make sure add and subtract will be maintain in range
    loop(number, bounds, increase = true, by = 1) {
      console.log(increase)
      return increase
        ? (number + by > bounds[1] ? bounds[0] + by - bounds[1] + number - 1 : number + by)
        : (number - by < bounds[0] ? bounds[1] - by + number - bounds[0] + 1 : number - by)
    }
  },
  mounted() {
    this.$refs['carousel'].addEventListener('wheel', this.wheelHandler)
  },
  beforeDestroy() {
    this.$refs['carousel'].removeEventListener('wheel', this.wheelHandler)
  }
}
</script>
