<template>
  <div>
    <q-avatar class="spinable" :style="css">
      <img src="icon.png">
    </q-avatar>
    <q-avatar square :style="css">
      <img src="name.png" :style="css">
    </q-avatar>
  </div>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    height: {
      type: String,
      default: null
    },
    width: {
      type: String,
      default: null
    }
  },
  computed: {
    css() {
      return `height: ${this.height === null ? '' : this.height};
              width: ${this.width === null ? 'auto' : this.width}`
    }
  }
}
</script>
