<template>
  <q-card class="my-card" flat :style="`max-width: ${maxWidth}`">
    <q-scroll-area
      class="fullscreen"
      :thumb-style="coest.scrollbar.thumb"
      :bar-style="coest.scrollbar.bar"
      :style="`padding-right: ${activeDialog ? coest.scrollbar.bar.widthValue + coest.scrollbar.thumb.widthValue : 0}px`"
    >
      <q-card-section class="flex flex-center">
        <q-avatar size="105px" color="black" class="absolute"/>
        <q-avatar size="100px" font-size="52px" color="teal" text-color="white" icon="directions">
          <q-btn
            dense
            size="sm"
            round
            icon="edit"
            color="blue-grey-9"
            class="absolute-bottom-right q-mr-xs q-mb-xs"
          >
          </q-btn>
        </q-avatar>

      </q-card-section>

      <div class="coest-font-dosis-header coest-text-primary text-weight-bolder text-h4 text-center">
        {{ data['name'] }}
      </div>

      <q-card-section class="q-py-sm">
        <q-separator :inset="true"/>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-list>
          <q-item
            v-for="item in coest.structure.profile"
            :key="coest.field.profile[item]['field']"
          >
            <q-item-section avatar>
              <q-icon :color="coest.field.profile[item]['color']" :name="coest.field.profile[item]['icon']"/>
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-bold coest-font-dosis coest-text-primary">
                {{ coest.field.profile[item]['field'] }}
              </q-item-label>
              <q-item-label
                class="coest-font-dosis coest-text-secondary coest-font-ellipsis"
                caption
              >
                {{ data[item] }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <div class="row full-width">
              <div class="col" style="text-align: center">
                <Button label="Clear sessions" icon="gpp_bad" @click="dialog['truncate'] = !dialog['truncate']"/>
              </div>
            </div>
          </q-item>
        </q-list>
      </q-card-section>
    </q-scroll-area>

    <ConfirmDialog
      v-model="dialog['truncate']"
      content="This operation will force you to sign out"
      icon="gpp_bad"
      @click="truncate"
    />

  </q-card>
</template>

<script>
import {mapFields} from "vuex-map-fields";
import ConfirmDialog from "components/ConfirmDialog";
import Button from "components/Button";

export default {
  name: 'Profile',
  components: {Button, ConfirmDialog},
  data: () => ({
    dialog: {
      truncate: false,
      edit: false
    },
    loading: false
  }),
  props: {
    data: {
      type: Object,
      default: () => ({
        name: 'Duck Dao',
        email: '51704032@student.tdtu.edu.vn',
        phone: '0988568416',
        id: '51704032',
        class: '17050401',
        faculty: 'Information Technology',
        expertise: 'Network'
      })
    },
    maxWidth: {
      type: String,
      default: '300px'
    }
  },
  computed: {
    ...mapFields('layout', [
      'activeDialog'
    ])
  },
  watch: {
    dialog: {
      handler: function (value) {
        this.activeDialog = value['truncate'] || value['edit']
      },
      deep: true
    }
  },
  methods: {
    truncate() {
      this.loading = true
      /** Emit event to close both side menu */
      this.$emit('close')
      this.$axios().get('/auth/truncate')
        .then((res) => res.status === 200 && this.$logout())
        .then(() => this.loading = false)
    }
  }
}
</script>
