<template>
  <div class="text-center">
    <div class="coest-font-dosis text-bold" :style="`width: ${width}px`">
      <q-card class="my-card coest-bg-primary shadow-10">
        <q-card-section>
          <q-card flat class="my-card">
            <q-card-section>
              <div class="flex no-wrap flex-center justify-center align-center coest-author-avatar coest-bg-primary"
                   style="width: 120px; height: 120px; ">
                <q-avatar size="100px">
                  <q-img src="https://cdn.quasar.dev/img/avatar.png"></q-img>
                </q-avatar>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="coest-text-primary q-my-none text-weight-bolder" style="font-size: 55px">Duc Dao</div>
              <div>ducdao2506@gmail.com</div>
            </q-card-section>
            <q-card-actions class="flex flex-center">
              <a class="coest-no-decoration" href="https://facebook.com" style="">
                <q-icon class="coest-text-primary" size="lg" name="facebook"></q-icon>
              </a>
            </q-card-actions>
          </q-card>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Self',
  data () {
    return {}
  },
  props: {
    width: {
      type: Number,
    }
  }
}
</script>
