<template>
  <div>
    <q-input
      :value="field === 'note' ? null : value"
      @input="$emit('input', $event)"
      @keyup.enter="$emit('enter')"
      clearable
      :disable="loading"
      :borderless="field === 'note'"
      :readonly="field === 'note' || field === 'deadline' || field === 'code'"
      :type="hidePassword && field === 'password' ? 'password' : 'text'"
      :color="coest.qColor"
      :label-color="coest.qColor"
      :label="template.field"
      :rules="$rule(field, template.max, template.empty)"
      :lazy-rules="true"
      class="coest-font-dosis"
      input-class="coest-font-dosis"
    >
      <template #before>
        <q-icon :color="coest.qColor" :name="template.icon"/>
      </template>
      <template #append v-if="field === 'password'">
        <q-icon
          class="show-password"
          color="blue-grey-14"
          @click="hidePassword = !hidePassword"
          :name="hidePassword ? 'visibility_off' : 'visibility'"/>
      </template>
      <q-popup-proxy v-if="field === 'deadline'">
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="coest-font-dosis-only text-weight-bolder"
            :active-color="coest.qColor"
            :indicator-color="coest.qColor"
            align="justify"
            narrow-indicator
          >
            <q-tab name="date" label="Date" />
            <q-tab name="time" label="Time" />
          </q-tabs>

          <q-separator />
          <q-separator />


          <q-tab-panels v-model="tab" animated def style="padding: 0" class="coest-font-dosis text-weight-bolder">
            <q-tab-panel name="date" style="padding: 0">
              <q-date
                :value="value"
                @input="$emit('input', $event)"
                mask="YYYY-MM-DD HH:mm"
                :color="coest.qColor"
                landscape
              >
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-tab-panel>

            <q-tab-panel name="time" style="padding: 0">
              <q-time
                :value="value"
                @input="$emit('input', $event)"
                mask="YYYY-MM-DD HH:mm"
                :color="coest.qColor"
                landscape
                format24h
              >
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-time>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-popup-proxy>
    </q-input>
    <Editor
      v-if="field === 'note'"
      class="q-mb-md"
      :value="value"
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
import Editor from "components/Editor";
export default {
  name: 'TextField',
  components: {Editor},
  data: () => ({
    hidePassword: true,
    tab: 'date',
  }),
  props: {
    value: {},
    template: Object,
    field: String,
    loading: Boolean
  },
}
</script>

<style scoped lang="scss">
.show-password {
  &:hover {
    cursor: pointer;
  }
}
</style>
