<template>
  <q-card class="q-pa-xs" :style="`width: ${$q.screen.width * 0.435}px; max-width: 80vw`">
    <q-card-section class="coest-bordered" :style="`border-width: 5px !important`">
      <q-form ref="form" class="text-left" :style="`width: ${$q.screen.width * 2 / 5}px; max-width: 80vw`">
        <div class="text-purple-9" style="font-size: 40px">{{ isLogin ? 'Sign in' : 'Sign up' }}</div>
        <!-- Email -->
        <div
          v-for="(row, index) in coest.structure.auth"
          :key="index"
          class="row"
        >
          <div
            v-for="(key, col) in row"
            :key="col"
            class="col"
          >
            <TextField
              v-model="credential[key]"
              v-if="loginField.includes(key) || !isLogin"
              :field="key"
              @enter="submit(isLogin ? 'login' : 'register')"
              :template="coest.field.profile[key]"
            />
          </div>
        </div>
        <Button solid :loading="loading" :label="label" icon="send" @click="submit(isLogin ? 'login' : 'register')"/>
        <Button
          class="absolute-bottom-right"
          :icon-right="isLogin ? 'how_to_reg' : 'login'"
          :label="isLogin ? 'Sign up' : 'Sign in'"
          @click="isLogin = !isLogin"
        />
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import {mapFields} from "vuex-map-fields";
import TextField from "components/Information/TextField";
import Button from "components/Button";

export default {
  components: {Button, TextField},
  // name: 'ComponentName',
  data: () => ({
    /** Check if AuthPanel in login mode */
    isLogin: true,
    /** These field is allowed to appear in login */
    loginField: ['email', 'password'],
    label: 'Let\'s go',
    loading: false,

    /** User credential */
    credential: {
      email: 'ahihi@gmail.com',
      password: '123456',
      id: '',
      name: '',
      class: '',
      expertise: ''
    },
  }),
  computed: {
    ...mapFields('auth', [
      'lock',
      'token'
    ])
  },
  watch: {
    isLogin() {
      /** Reset v-model */
      this.credential = {
        email: '',
        password: '',
        id: '',
        name: '',
        class: '',
        department: ''
      }

      /** Reset form */
      this.$refs['form'].resetValidation()
    }
  },
  methods: {
    async submit(action) {
      /** Send request if form is valid */
      if (await this.$refs['form'].validate()) {
        this.loading = true
        /** Login */
        this.$axios().post(`/auth/${action}`, this.credential)
          .then((res) => res.data['success']
            ? this.$login(res.data['data']['access_token'])
            : this.warning(res.data['message']))
          .catch(() => this.loading = false)
          .then(() => this.loading = false)
      }
    },
    /** Warning if login/register fail */
    warning(message) {
      this.$q.notify({
        type: 'negative',
        message: message
      })
    }
  },
}
</script>
