<template>
  <div>
    <div :class="`row ${guard ? 'coest-fullscreen' : ''}`">
      <transition
        :enter-active-class="this.classic ? 'circleInCenter' : 'animated slideInLeft slow'"
        :leave-active-class="this.classic ? 'circleOutCenter' : 'animated slideOutLeft slow'"
      >
        <div v-if="lock" :class="`col-${classic ? 0 : 6} coest-bg-primary`">
          <Login></Login>
        </div>
      </transition>
      <transition
        :enter-active-class="this.classic ? 'circleInCenter' : 'animated slideInRight slow'"
        :leave-active-class="this.classic ? 'circleOutCenter' : 'animated slideOutRight slow'"
      >
        <div v-if="lock" :class="`col-${classic ? 12 : 6}`">
          <About></About>
        </div>
      </transition>
    </div>
    <transition
      leave-active-class="animated fadeOut"
    >
      <div v-if="authenticated" class="col">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
import About from "components/Information/About";
import Login from "components/Authentication/Login";
import {mapFields} from 'vuex-map-fields';
import {LocalStorage} from "quasar";

export default {
  components: {Login, About},
  name: 'Authenticator',
  data: () => ({
    authenticated: !LocalStorage.getItem('lock'),
    guard: !!LocalStorage.getItem('lock'),
  }),
  computed: {
    ...mapFields('auth', [
      'lock',
      'token',
      'user'
    ]),
    ...mapFields('setting', [
      'classic'
    ]),
  },
  watch: {
    //Check if the gate is opened
    lock(value) {
      value ? this.close() : this.open();
    }
  },
  methods: {
    //Show the content/scrollbar before/after gate is open
    open() {
      this.getUser()
      this.authenticated = true;
      setTimeout(() => (this.guard = false), 1000);
    },
    //Hide the content/scrollbar after/before gate is shut
    close() {
      setTimeout(() => (this.authenticated = false), 500);
      this.guard = true;
    },
    test() {
      this.lock = !this.lock;
    },
    getUser() {
      this.$axios().get('/user')
        .then((res) => this.$emit('input', res.data['data']))
    }
  },
  mounted() {
    this.lock || this.getUser()
  }
}
</script>

<style>
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

.circleInCenter {
  animation: .9s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

@keyframes circle-out-center {
  from {
    clip-path: circle(125%);
  }
  to {
    clip-path: circle(0%);
  }
}

.circleOutCenter {
  animation: .9s cubic-bezier(.25, 1, .30, 1) circle-out-center both;
}
</style>
