<template>
  <div :class="classic || 'column flex flex-center no-wrap full-height coest-font-dosis'" style="font-weight: 900">
    <q-btn
      flat
      round
      :icon="classic ? 'zoom_in' : 'zoom_out'"
      :color="classic ? 'white' : 'purple-9'"
      :text-color="classic ? 'purple-9' : 'white'"
      class="mode coest-top-left q-mt-xs q-ml-xs"
      @click="classic = !classic"
    />
    <template v-if="classic">
      <q-btn
        flat
        color="white"
        label="Sign In"
        :loading="dialog"
        icon-right="login"
        text-color="purple-9"
        @click="dialog = !dialog"
        class="coest-top-right q-mt-xs q-mr-sm"
      >
        <template #loading>
          <q-spinner-dots color="purple-9"/>
        </template>
      </q-btn>
      <q-dialog v-model="dialog">
        <AuthPanel></AuthPanel>
      </q-dialog>
    </template>
    <AuthPanel v-else></AuthPanel>
  </div>
</template>

<script>
import AuthPanel from "components/Authentication/AuthPanel";
import {mapFields} from "vuex-map-fields";

export default {
  name: 'Login',
  components: {AuthPanel},
  data: () => ({
    dialog: false,
  }),
  computed: {
    ...mapFields('setting', [
      'classic'
    ]),
  },
}
</script>
