<template>
  <q-page padding class="column no-wrap flex items-center">
    <Window
      class="q-mt-md"
      :value="$route.params['code']"
      read-only
      label="Download"
      icon="download"
      @click="prep"
    >
      <q-card
        bordered
        class="q-mb-md shadow-3"
        :style="`width: ${coest.pageWidth}px`"
      >
        <template v-if="cover">
          <q-item>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="text"/>
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text"/>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-card-section>
            <q-skeleton height="200px" square/>
          </q-card-section>
          <q-card-actions align="right" class="q-gutter-md">
            <q-skeleton type="QBtn"/>
            <q-skeleton type="QBtn"/>
          </q-card-actions>
        </template>

        <template v-else>
          <template v-if="isEmpty">
            <q-card-section>
              <Banner :color="isExpired ? coest.qCProc : coest.qCNone" :icon="isExpired ? 'warning' : 'security'">
                {{isExpired ? 'This Box is expired' : 'This Box is currently locked. Please input password to access'}}
              </Banner>
              <TextField v-if="!isExpired" v-model="password" field="password" :template="coest.field.profile.password"/>
            </q-card-section>
          </template>
          <template v-else>
            <q-card-section>
              <q-field readonly>
                <template #control>
                  <div class="text-h5 coest-font-dosis-header text-weight-bolder">{{ box['name'] }}</div>
                </template>
              </q-field>
            </q-card-section>

            <q-card-section>
              <Banner :color="coest.qCInfo" icon="info">
                Please read description carefully before you continue
              </Banner>
              <div class="row">
                <div class="col">
                  <q-field dense label="Description" readonly borderless :label-color="coest.qColor" label-slot>
                    <template #label>
                      <div class="coest-font-dosis-only text-weight-bolder">Description</div>
                    </template>
                    <template #before>
                      <q-icon :color="coest.qColor" :name="coest.field.add.note.icon"/>
                    </template>
                  </q-field>
                  <Editor :value="box['note']" class="q-mb-md" read-only/>
                </div>
              </div>

              <q-form ref="form">
                <q-file
                  v-model="file"
                  outlined
                  label-slot
                  input-class="coest-font-dosis-only text-weight-bolder"
                  :color="coest.qColor"
                  accept=".zip"
                  :lazy-rules="true"
                  :rules="[v => v !== null || 'File is required!']"
                >
                  <template #label>
                    <div class="coest-font-dosis-only text-weight-bolder">
                      Click or drop file here
                    </div>
                  </template>
                </q-file>
              </q-form>

              <q-field dense label="Description" readonly borderless :label-color="coest.qColor" label-slot>
                <template #label>
                  <div class="coest-font-dosis-only text-weight-bolder">Until: {{ box['deadline'].slice(0, 16) }}</div>
                </template>
                <template #before>
                  <q-icon :color="coest.qColor" :name="coest.field.add.deadline.icon"/>
                </template>
              </q-field>
            </q-card-section>
          </template>

          <q-card-actions v-if="!isExpired">
            <q-space/>
            <DialogButtons
              :loading="loading"
              :label="isEmpty ? 'Access' : 'Upload'"
              :icon="isEmpty ? 'lock_open' : 'upload'"
              @click="isEmpty ? access() : start()"
              @cancel="$router.push('/Search')"
            />
          </q-card-actions>
        </template>
      </q-card>
    </Window>

    <Download v-model="dialog" :data="this.downloadData"/>
  </q-page>
</template>

<script>
import Window from "components/Window";
import Editor from "components/Editor";
import Banner from "components/Banner";
import DialogButtons from "components/DialogButtons";
import TextField from "components/Information/TextField";
import {chunk} from "lodash";
import Download from "components/Upload/Download";

export default {
  components: {Download, TextField, DialogButtons, Banner, Editor, Window},
  name: 'Box',
  data: () => ({
    // Box data
    box: null,
    password: '',
    file: null,
    result: [],
    downloadData: {},
    isExpired: false,

    // Local
    cover: true,
    loading: false,
    phase: 1,
    dialog: false
  }),
  computed: {
    isEmpty() {
      return this.box === null || this.box === undefined || this.box === {}
    },
    getID() {
      return this.box['id'].toLowerCase()
    },
  },
  methods: {
    decline(notify, message = 'Wrong password!') {
      this.box = null
      notify && this.$notify.neg(message)
    },
    access(notify = true) {
      this.loading = true
      this.$axios().post('/box/access', {password: this.password, ...this.$route.params})
        .then(res => res.data.success
          ? this.box = res.data.data
          : res.data.data.empty ? this.isExpired = true : this.decline(notify, res.data.message)
        )
        .catch(err => err.response.status === 401 || this.decline(notify))
        .then(() => {
          this.cover = false
          this.loading = false
        })
    },
    start() {
      this.$refs['form'].validate()
        ? this.establish()
        : this.$notify.neg('Empty source')
    },
    /** Establish connection */
    establish() {
      this.$socket('container', () => {
        this.loading = true
        this.result = []
        this.process()
      })
    },
    /** Continue to next phase */
    continue(exclude = null) {
      exclude === null || this.$sOff(exclude)
      this.phase++
      this.process()
    },
    /** Start upload process */
    async process() {
      if (this.phase === 1) this.clone()
      else if (this.phase === 2) this.upload()
      else if (this.phase === 3) this.build()
      else if (this.phase === 4) this.exec()
      else if (this.phase === 5) this.truncate()
      else if (this.phase === 6) this.end()
    },
    /** Phase 1: Clone Box */
    clone() {
      this.socket
        // Continue to next phase
        .on('clone:done', (newId) => {
          this.box['id'] = newId
          this.continue(['clone:done'])
        })
        // Clone Box container
        .emit('clone', {id: this.getID, user: this.box['user']})
    },
    /** Phase 2: Upload source */
    upload() {
      this.file
        .arrayBuffer()
        .then(buffer => {
          // Chunk part
          let part = 0
          // Chunk file (5kb each)
          let chunkedBuffer = chunk(new Uint8Array(buffer), 100)
          // File extension
          let ext = 'zip'
          // Number of progress equal to 1 uploaded unit
          this.socket
            // Continue to upload if file is appended on server
            .on('upload:continue', () => {
              // Continue to send chunk
              part++ < chunkedBuffer.length && this.socket.emit('upload', {
                id: this.getID,
                phase: this.phase,
                ext,
                buffer: chunkedBuffer[part],
                type: this.box['type']
              })
            })
            // Continue to next phase
            .on('upload:done', () => this.continue(['upload:continue', 'upload:done']))
            // Send chunk of file
            .emit('upload', {
              id: this.getID,
              phase: this.phase,
              ext,
              buffer: chunkedBuffer[part],
              type: this.box['type']
            })
        })
    },
    /** Phase 3: Build box */
    build() {
      this.socket
        // Continue to next phase
        .on('build:done', () => this.continue(['build:done']))
        // Build Box container
        .emit('build', {id: this.getID, type: this.box['type'], entry: this.box['entry']})
    },
    /** Phase 4: Exec box */
    exec() {
      this.socket
        .on('exec:update', (payload) => this.score(payload))
        // Continue to next phase
        .on('exec:done', () => this.continue(['exec:update', 'exec:done']))
        // Exec Box container
        .emit('exec', {
          id: this.getID,
          type: this.box['type'],
          stdin: this.box['stdin'],
          isFile: this.box['isFile']
        })
    },
    /** Phase 5: Truncate box */
    truncate() {
      this.socket
        // Continue to next phase
        .on('truncate:done', () => this.continue(['truncate:done']))
        // Truncate Box container
        .emit('truncate', {id: this.getID, type: this.box['type']})
    },
    /** Phase 6: End process */
    end() {
      this.loading = false
      this.phase = 1
    },
    /** Score the returned payload in phase 4 */
    score(payload) {
      this.result.push({
        "input": payload['input'],
        "output": payload['output'],
        "expected": payload['expect'],
        "final": payload['output'] === payload['expect']
      })
    },
    /** Prep report */
    prep() {
      this.result.length === 0
        ? this.$notify.neg('Empty source')
        : this.download()
    },
    /** Download report */
    download() {
      this.downloadData = {
        detail: true,
        name: 'Report',
        result: this.result,
      }
      this.dialog = true
    },
  },
  mounted() {
    this.access(false)
  }
}
</script>
