<template>
  <q-page>
    <Overlay/>
    <div class="window-height window-width row justify-center items-center text-weight-bolder coest-font-dosis">
      <q-card bordered class="shadow-3 q-mr-lg q-pa-md" style="width: 500px">
        <q-img src="test.png"/>

        <q-card-section>
          Testing your C/C++, JAVA sources code with your testcase. Generate report of sources after testing.
        </q-card-section>

        <q-card-actions>
          <q-btn
            flat
            icon-right="arrow_right_alt"
            label="Let's go"
            :color="coest.qColor"
            class="text-weight-bolder vertical-middle coest-font-dosis"
            :text-color="coest.qColor"
            @click="jumpTo('Upload')"
          />
        </q-card-actions>
      </q-card>

      <q-card bordered class="shadow-3 q-ml-lg q-pa-md" style="width: 500px">
        <q-img src="practice.png"/>

        <q-card-section>
          Practice and challenge coding skill all kind of problem. Write some code and submit them.
        </q-card-section>

        <q-card-actions>
          <q-btn
            flat
            icon-right="arrow_right_alt"
            label="Let's go"
            :color="coest.qColor"
            class="text-weight-bolder vertical-middle coest-font-dosis"
            :text-color="coest.qColor"
            @click="jumpTo('Box')"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import Overlay from "components/Overlay";
export default {
  name: 'PageIndex',
  components: {Overlay},
  methods: {
    jumpTo(location) {
      this.$router.push(location)
    }
  }
}
</script>
