<template>
  <q-page class="column no-wrap flex items-center" padding>
    <q-table
      title="Boxes"
      :data="rows"
      :columns="columns"
      row-key="code"
      :filter="filter"
      :loading="loading"
      :rows-per-page-options="[25, 50, 100, 0]"
      class="coest-font-dosis text-weight-bolder"
      :style="`width: ${coest.pageWidth + 100}px`"
    >
      <template #top>
        <div class="col-2 q-table__title coest-font-dosis-header text-weight-bolder">Boxes</div>
        <q-input
          v-model="filter"
          clearable
          dense
          debounce="300"
          :color="coest.qColor"
          input-class="coest-font-dosis text-weight-bolder"
        >
          <template #after>
            <q-icon name="search" :color="coest.qColor"/>
          </template>
        </q-input>
        <q-space/>
        <Button label="Add" icon="add" @click="add"/>
      </template>

      <template #body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td auto-width>
            <q-btn size="sm" :color="coest.qColor" flat dense icon="edit" @click="update(props.cols[0].value)"/>
            <q-btn size="sm" :color="coest.qColor" flat dense icon="delete" @click="confirmDel(props.cols[0].value)"/>
            <q-btn size="sm" :color="coest.qColor" flat dense icon="link" @click="link(props.cols[0].value)"/>
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left">This is expand slot for row above: {{ props.row.name }}.</div>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <Detail v-model="dialog['detail']" :mode="mode" :detail="detail" @shouldFetch="fetch"></Detail>
    <ConfirmDialog :content="`Confirm delete ${delCode}`" icon="warning" v-model="dialog['confirm']" @click="del"/>
  </q-page>
</template>

<script>
// Component
import Button from "components/Button";
import Detail from "components/Manage/Detail";

// Method
import {mapFields} from "vuex-map-fields";
import ConfirmDialog from "components/ConfirmDialog";
import {copyToClipboard} from 'quasar';


export default {
  name: 'PageManage',
  components: {ConfirmDialog, Detail, Button},
  data: () => ({
    loading: true,
    dialog: {
      confirm: false,
      detail: false
    },
    mode: 'add',
    delCode: '',

    // Table data
    detail: {},
    rows: [],
    columns: [
      {name: 'code', label: 'Code', field: 'code', align: 'left'},
      {
        name: 'name',
        label: 'Name',
        field: 'name',
        align: 'left',
        sortable: true,
        style: 'max-width: 200px',
        classes: 'coest-font-ellipsis'
      },
      {name: 'type', label: 'Type', field: 'type', align: 'left', sortable: true},
      {
        name: 'deadline',
        label: 'Deadline',
        field: 'deadline',
        align: 'left',
        sortable: true,
        format: v => v.slice(0, 16)
      },
      {label: 'Operation', align: 'left'}
    ],
    filter: '',
  }),
  computed: {
    ...mapFields('layout', [
      'activeDialog'
    ])
  },
  watch: {
    dialog: {
      handler: function (value) {
        this.activeDialog = value['detail'] || value['confirm']
      },
      deep: true
    }
  },
  methods: {
    // Open Detail as add mode
    add() {
      this.mode = 'add'
      this.dialog['detail'] = true
    },
    // Open Detail as update mode
    update(code) {
      this.loading = true
      this.mode = 'update'
      this.$axios().get(`/box/get/${code}`)
        .then(res => res.data.success
          ? (() => {
            this.detail = res.data.data
            this.dialog['detail'] = true
          })()
          : this.$notify.neg(res.data.message))
        .catch(err => err.response.status === 401 || this.$notify.neg())
        .then(() => this.loading = false)
    },
    // Confirm to delete box
    confirmDel(code) {
      this.delCode = code
      this.dialog['confirm'] = true
    },
    // Delete box
    del() {
      this.loading = true
      this.$axios().get(`/box/remove/${this.delCode}`)
        .then(res => res.data.success
          ? this.$notify.pos('Box deleted')
          : this.$notify.neg())
        .catch(err => err.response.status === 401 || this.$notify.neg())
        .then(() => {
          this.loading = false
          this.fetch()
        })
    },
    // Copy link
    link(code) {
      copyToClipboard(`${this.coest.box.url}/${code}`)
        .then(() => this.$notify.pos('Copied!', 'top'))
    },
    // Fetch all data
    fetch() {
      this.loading = true
      this.$axios().get('/box/index')
        .then(res => res.data.success
          ? this.rows = res.data.data
          : this.$notify.neg())
        .catch(err => err.response.status === 401 || this.$notify.neg())
        .then(() => this.loading = false)
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>
