<template>
  <q-page>
    <Overlay>
      <div class="row full-height justify-center items-center">
        <q-input
          v-model="keyword"
          rounded
          outlined
          bg-color="white"
          :color="coest.qColor"
          input-class="text-weight-bolder coest-font-dosis"
          :label-slot="keyword === '' && !focused"
          :style="`width: ${coest.pageWidth}px`"
          @focusin="focused = true"
          @focusout="focused = false"
          @keypress.enter="search"
        >
          <template #append>
            <q-btn
              icon="search"
              :color="coest.qColor"
              rounded
              flat
              dense
              @click="search"
              :loading="loading"
              :disable="loading"
            />
          </template>
          <template #label>
            <div class="text-blue-grey-3 coest-font-dosis-only">Search for code, name, ...</div>
          </template>
        </q-input>
      </div>
    </Overlay>
    <div class="row justify-center text-weight-bolder coest-font-dosis" style="padding-top: 35vh">
      <q-card
        bordered
        class="q-mb-xl"
        :class="`shadow-3 bg-${coest.qBackground}`"
        :style="`width: ${coest.pageWidth + 100}px`"
      >
        <q-card-section v-if="isEmpty">
          <Banner :color="coest.qCInfo" icon="info">
            You can search for anything including code, name. If you want to search for date and time.
            Make sure it's format is correct (YYYY-MM-DD HH:mm)
          </Banner>
          <q-img src="practice.png"/>
        </q-card-section>
        <q-card-section v-else>
          <q-list class="bg-white" style="border-radius: 5px" separator>
            <q-item
              v-for="(dump, n) in isLastPage ? lastPageLength : coest.box.perPage"
              :key="n"
              clickable
              :to="`/Box/${boxes[n + offset]['code']}`"
            >
              <q-item-section avatar>
                <q-avatar>
                  <img :src="coest.upload.type.img[boxes[n + offset]['type']]">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label class="text-h5 text-weight-bolder coest-font-ellipsis" style="max-width: 70%">
                  {{ boxes[n + offset]['name'] }}
                </q-item-label>
                <q-item-label class="coest-text-secondary coest-font-ellipsis">
                  by {{ boxes[n + offset]['User.name'] }}
                </q-item-label>
                <q-icon
                  class="absolute-top-right q-mr-md q-mt-sm"
                  :name="boxes[n + offset]['isPublic'] === 1 ? 'public' : 'security'"
                  :color="boxes[n + offset]['isPublic'] === 1 ? coest.qCDone : coest.qCNone"
                />
                <q-item-label class="coest-font-dosis-tooltip absolute-bottom-right q-mr-md q-mb-sm">
                  Until: {{ boxes[n + offset]['deadline'].slice(0, 16) }}
                </q-item-label>
              </q-item-section>
            </q-item>

            <div v-if="maxPages > 1" class="flex full-width justify-center">
              <div class="bg-white q-pa-sm rounded-borders">
                <q-pagination
                  v-model="page"
                  :color="coest.qColor"
                  :max="maxPages"
                  :max-pages="7"
                  :boundary-numbers="false"
                  icon-first="skip_previous"
                  icon-last="skip_next"
                  boundary-links
                  input-class="coest-font-dosis-only text-weight-bolder"
                />
              </div>
            </div>
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import Overlay from "components/Overlay";
import Banner from "components/Banner";

export default {
  name: 'PageSearch',
  components: {Banner, Overlay},
  data: () => ({
    // Local
    keyword: '',
    focused: false,
    loading: false,

    // Box data
    boxes: [],
    page: 1
  }),
  computed: {
    // Check if boxes is empty
    isEmpty() {
      return this.boxes.length === 0
    },
    // Max page to display boxes
    maxPages() {
      return Math.ceil(this.boxes.length / this.coest.box.perPage)
    },
    // Offset index depends on page
    offset() {
      return (this.page - 1) * this.coest.box.perPage
    },
    // Keep the last page's size of boxes
    lastPageLength() {
      return this.boxes.length - (this.maxPages - 1) * this.coest.box.perPage
    },
    // Check if this is the last page
    isLastPage() {
      return this.maxPages === this.page
    }
  },
  methods: {
    // Search for boxes with keyword
    search() {
      this.loading = true
      this.keyword.trim() === '' ||
      this.$axios().get(`/box/search/${this.keyword.trim()}`)
        .then(res => res.data.success ? this.boxes = res.data.data : this.$notify.neg(res.data.message))
        .catch(err => err.response.status === 401 || this.$notify.neg('An error has occurred'))
        .then(() => {
          this.loading = false
          this.page = 1
        })
    }
  }
}
</script>
