<template>
  <q-page padding class="column no-wrap flex items-center">
    <Instruction class="q-mb-lg"/>

    <Window v-model="workspace" label="Summarize" icon="download" @click="summarize">
      <div
        v-for="n in resources.length"
        :key="n"
        class="row"
      >
        <div class="col">
          <Resource
            :testcase.sync="resources[n - 1]['testcase']"
            :containers.sync="resources[n - 1]['containers']"
            :loading="spaces[n - 1]['loading']"
            :progress="spaces[n - 1]['progress']"
            :track="spaces[n - 1]['track']"
            :color="spaces[n - 1]['color'] === null ? coest.qColor : spaces[n - 1]['color']"
            :done="spaces[n - 1]['done']"
            :failed="spaces[n - 1]['failed']"
            @add="addResource()"
            @del="delResource(n - 1)"
            @upload="activeIndex = n - 1; dialog['config'] = true"
            @download="download(n - 1, $event)"
            @summary="download(n - 1, -1)"
            @injected="spaces[n - 1]['track'] = $event ? 1 : 0; spaces[n - 1]['injected'] = $event"
          ></Resource>
        </div>
      </div>
    </Window>
    <div class="q-mb-md"></div>

    <Configuration
      v-model="dialog['config']"
      :config.sync="configs[activeIndex]"
      @confirm="prep(activeIndex)"
    ></Configuration>

    <Download v-model="dialog['download']" :data="this.downloadData"/>
  </q-page>
</template>

<script>
// Component
import Download from "components/Upload/Download";
import Resource from "components/Upload/Resource";
import Configuration from "components/Upload/Configuration";
import Instruction from "components/Upload/Instruction";

// Method
import {chunk} from "lodash";
import cryptoRandomString from 'crypto-random-string';
import {mapFields} from "vuex-map-fields";
import JSZip from "jszip";
import Window from "components/Window";

const crs = () => (cryptoRandomString({length: 10, type: 'hex'}));

export default {
  name: 'Upload',
  components: {Window, Download, Instruction, Configuration, Resource},
  data: () => ({
    // Workspace name
    workspace: 'Workspace',

    query: [],
    //Resources
    resources: [
      {
        testcase: null,
        containers: null
      }
    ],

    configs: [
      {
        type: 'java',
        entry: 'HelloWorld',
        stdin: 0,
        isFile: 0
      }
    ],

    spaces: [
      {
        id: crs(),
        color: null,
        caseSize: 0,
        loading: false,
        phase: 1,     // Determine the building phase of container
        track: 0,
        progress: 0,  // Source progress
        done: {},
        failed: {},
        injected: false,
        result: [[]],   // Test result send back from socket
        summary: [{total: 0, correct: 0, error: 0}] // Result summary
      }
    ],

    // Addition setting dialog
    dialog: {
      config: false,
      download: false
    },
    activeIndex: 0,
    downloadData: {},
  }),
  computed: {
    ...mapFields('layout', [
      'activeDialog'
    ]),
    ...mapFields('upload', [
      'isWorking'
    ])
  },
  watch: {
    dialog: {
      handler: function (value) {
        this.activeDialog = value['config'] || value['download']
      },
      deep: true,
    },
    query(value) {
      this.isWorking = value?.length > 0
    }
  },
  methods: {
    addResource() {
      this.resources.push({
        testcase: null,
        containers: null
      })
      this.spaces.push({
        id: crs(),
        color: null,
        caseSize: 0,
        loading: false,
        track: 0,
        progress: 0,
        phase: 1,
        done: {},
        failed: {},
        injected: false,
        result: [[]],
        summary: [{total: 0, correct: 0, error: 0}]
      })
      this.configs.push({
        type: 'java',
        entry: 'HelloWorld',
        stdin: 0,
        isFile: 0
      })
    },
    delResource(index) {
      this.resources.splice(index, 1)
      this.spaces.splice(index, 1)
      this.configs.splice(index, 1)
      this.activeIndex = 0
    },
    getID(index) {
      return `${this.socket.id}-${this.spaces[index]['id']}`.toLowerCase()
    },
    async prep(index) {
      // Check query if empty
      const isEmpty = this.query.length === 0
      // Cancel if sources is empty
      if (this.resources[index].containers.length === 1) {
        this.$notify.neg('Empty source')

        return
      }
      this.spaces[index]['loading'] = true
      /** Change color to processing */
      this.spaces[index]['color'] = this.coest.qCProc
      /** Remove the redundant containers when at non-inject mode */
      this.spaces[index]['track'] === 0 && this.resources[index].containers.pop()
      this.query.push(index)
      isEmpty && this.start(this.query[0])
    },
    /** Start the process */
    async start(index) {
      await this.estimate(index)
      this.spaces[index]['result'].length === 1 || this.restart(index)
      this.$socket('container', () => this.process(index))
    },
    async estimate(index) {
      /** Notify start estimate */
      const dismiss = this.$q.notify({
        group: false,
        spinner: true,
        color: this.coest.qCProc,
        textColor: 'white',
        classes: 'coest-font-dosis-only text-weight-bolder',
        message: 'Estimating...',
        actions: [{
          icon: 'close', color: 'white', handler: () => ({}), classes: 'coest-font-dosis-only text-weight-bolder'
        }],
        timeout: 0
      })
      /** Start estimating */
      const isZip = (/\.zip$/).test(this.resources[index]['testcase']['name'])
      isZip
        ? Object.values((await (new JSZip()).loadAsync(this.resources[index]['testcase'])).files)
          .forEach(file => this.spaces[index]['caseSize'] += file['_data']['uncompressedSize'])
        : this.spaces[index]['caseSize'] += this.resources[index]['testcase']['size']
      /** Notify end estimate */
      dismiss({
        color: this.coest.qCDone,
        spinner: false,
        icon: 'done',
        message: 'Estimated',
        timeout: 1000
      })
    },
    /** Restart space */
    restart(index) {
      this.spaces[index] = {
        id: crs(),
        color: null,
        caseSize: 0,
        loading: false,
        track: 0,
        progress: 0,
        phase: 1,
        done: {},
        failed: {},
        injected: false,
        result: [[]],
        summary: [{total: 0, correct: 0, error: 0}]
      }
    },
    /** Process flow */
    async process(index) {
      if (this.spaces[index]['phase'] === 1) this.upload(index)
      else if (this.spaces[index]['phase'] === 2) this.upload(index)
      else if (this.spaces[index]['phase'] === 3) this.build(index)
      else if (this.spaces[index]['phase'] === 4) this.exec(index)
      else if (this.spaces[index]['phase'] === 5) this.resetOrTruncate(index)
      else this.end(index)
    },
    /** Continue to next phase */
    continue(index, exclude = null) {
      exclude === null || this.$sOff(exclude)
      this.spaces[index]['phase']++
      this.process(index)
    },
    /**
     * Phase 1 + 2: Upload resource
     * Limit progress: 20%
     */
    upload(index) {
      const file = this.spaces[index]['phase'] === 1
        ? this.resources[index].testcase
        : this.resources[index].containers[this.spaces[index]['track']]
      file
        .arrayBuffer()
        .then(buffer => {
          // Chunk part
          let part = 0
          // Chunk file (5kb each)
          let chunkedBuffer = chunk(new Uint8Array(buffer), 100)
          // File extension
          let ext = file['name'].split('.').pop()
          // Number of progress equal to 1 uploaded unit
          const unit = Math.floor(20 / chunkedBuffer.length)
          this.socket
            // Continue to upload if file is appended on server
            .on('upload:continue', () => {
              this.spaces[index]['phase'] === 2 && this.updateProgress(index, unit)
              // Continue to send chunk
              part++ < chunkedBuffer.length && this.socket.emit('upload', {
                id: this.getID(index),
                phase: this.spaces[index]['phase'],
                ext,
                buffer: chunkedBuffer[part],
                type: this.configs[index]['type']
              })
            })
            // Continue to next phase
            .on('upload:done', () => this.continue(index, ['upload:continue', 'upload:done']))
            // Send chunk of file
            .emit('upload', {
              id: this.getID(index),
              phase: this.spaces[index]['phase'],
              ext,
              buffer: chunkedBuffer[part],
              type: this.configs[index]['type']
            })
        })
    },
    /**
     * Phase 3: Build Box
     */
    build(index) {
      this.updateProgress(index, 30, [50, 200])
      this.socket
        // Continue to next phase
        .on('build:done', () => this.continue(index, ['build:done']))
        // Build Box container
        .emit('build', {id: this.getID(index), ...this.configs[index]})
    },
    /**
     * Phase 4: Exec Box
     */
    exec(index) {
      this.socket
        .on('exec:update', (payload) => {
          this.updateProgress(index, payload['size'] * 50 / this.spaces[index]['caseSize'], [50, 100])
          this.score(index, this.spaces[index]['track'], payload)
        })
        // Continue to next phase
        .on('exec:done', () => this.continue(index, ['exec:update', 'exec:done']))
        // Exec Box container
        .emit('exec', {id: this.getID(index), ...this.configs[index]})
    },
    /**
     * Score the returned payload in phase 4
     */
    score(index, tracker, payload) {
      const final = payload['output'] === payload['expect']
      this.spaces[index]['result'][tracker].push({
        "input": payload['input'],
        "output": payload['output'],
        "expected": payload['expect'],
        "final": final
      })
      payload['error']
        ? this.spaces[index]['summary'][tracker]['error']++
        : final && this.spaces[index]['summary'][tracker]['correct']++
      this.spaces[index]['summary'][tracker]['total']++
    },
    /**
     * Phase 5: Determine to reset or truncate
     */
    resetOrTruncate(index) {
      this.spaces[index]['track'] < this.resources[index]["containers"].length - 1
        ? (() => {
          // Check this tracker as done
          this.spaces[index]['done'][this.spaces[index]['track']] = true
          // Continue new tracker
          this.spaces[index]['track']++
          // Restart phase
          this.spaces[index]['phase'] = 1
          // Create new result for new tracker
          this.spaces[index]['result'].push([])
          // Create new summary for new tracker
          this.spaces[index]['summary'].push({total: 0, correct: 0, error: 0})
          this.socket
            // Continue to next phase
            .on('reset:done', () => this.continue(index, ['reset:done']))
            // Reset Box container
            .emit('reset', {id: this.getID(index), type: this.configs['type']})
        })()
        : (() => this.socket
            // Continue to next phase
            .on('truncate:done', () => this.continue(index, ['truncate:done']))
            // Truncate Box container
            .emit('truncate', {id: this.getID(index), type: this.configs['type']})
        )()
      this.spaces[index]['progress'] = 0
    }
    ,
    /**
     * Phase 6: End
     */
    end(index) {
      this.query.shift()
      this.spaces[index]['done'][this.spaces[index]['track']] = true
      this.spaces[index]['track']++
      this.spaces[index]['loading'] = false
      this.spaces[index]['progress'] = 100
      this.spaces[index]['color'] = this.coest.qCDone
      // console.log('---The end---')
      this.query.length > 0 && this.process(this.query[0])
    },
    download(index, sub) {
      this.downloadData = sub === -1
        ? {
          detail: false,
          name: this.resources[index]['testcase']['name'],
          result: this.spaces[index]['result'].map((value, track) => ({
            name: this.resources[index]['containers'][track]['name'],
            result: value
          })),
        }
        : {
          detail: true,
          name: this.resources[index]['containers'][sub]['name'],
          result: this.spaces[index]['result'][sub],
        }
      this.dialog['download'] = true
    },
    summarize() {
      if (this.isWorking) {
        this.$notify.neg('Boxes are working')

        return
      }
      // Get headers
      let headers = []
      // Result
      const result = []
      const mapper = {}
      // Handle
      this.resources.forEach((rsc, rscIndex) => {
        if (rsc.testcase === null || rsc.testcase === undefined) return
        if (Object.keys(this.spaces[rscIndex]['done']).length !== rsc.containers.length) return
        // Push header
        headers.push(rsc.testcase['name'])
        rsc.containers.forEach((src, srcIndex) => {
          // Check if this is the Injector resource to skip the first source
          if (srcIndex === 0 && this.spaces[rscIndex]['injected']) return
          mapper[src['name']] === undefined
            ? mapper[src['name']] = {source: src['name'], total: 0, error: 0, score: 0}
            : null
          mapper[src['name']][rsc.testcase['name']] = this.spaces[rscIndex]['summary'][srcIndex]['correct']
          mapper[src['name']]['total'] += this.spaces[rscIndex]['summary'][srcIndex]['correct']
          mapper[src['name']]['error'] += this.spaces[rscIndex]['summary'][srcIndex]['error']
          mapper[src['name']]['score'] += this.spaces[rscIndex]['summary'][srcIndex]['correct']
        })
      })
      // If a source is not tested for a testcase, set result to -1 (equal empty)
      Object.keys(mapper).forEach(src => {
        headers.forEach(header => mapper[src][header] = mapper[src][header] === undefined ? -1 : mapper[src][header])
        // Calculate score
        mapper[src]['score'] = Math.round(mapper[src]['total'] / mapper[src]['score'] * 1000) / 100
        result.push(mapper[src])
      })
      // Reconstruct headers
      headers = ['source', ...headers, 'total', 'error', 'score']
      // Set download data
      this.downloadData = {
        detail: true,
        summary: true,
        name: this.workspace,
        options: {headers: headers},
        result: result
      }
      // Show download dialog
      this.dialog['download'] = true
    },
    /**
     * Random between range (inclusive)
     */
    randRange
      (min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min);
    }
    ,
    /**
     * Update progress
     */
    async updateProgress(index, unit, range = null) {
      let total = 0
      const handler = () => {
        total++
        this.spaces[index]['progress'] += 1
        this.spaces[index]['progress'] > 100
          ? this.spaces[index]['progress'] = 100
          : (
            total < unit && setTimeout(handler, range === null
              ? this.randRange(100, 300)
              : this.randRange(...range))
          )

      }
      handler()
    }
  },
  beforeRouteLeave(to, from, next) {
    // alert('stop')
    next()
  }
}
</script>

<style scoped lang="scss">
.wrapper {
  border: solid $purple-9;
  border-radius: 10px;
  padding: 8px 40px 0 40px;

  .header {
    position: absolute;
    margin-top: -25px;
    border-radius: 10px;
  }
}
</style>
