<template>
  <q-layout view="hHh lpR lFr">

    <Authenticator @input="user = $event">
      <q-header color reveal elevated class="bg-white coest-text-primary">
        <q-toolbar>
          <q-btn dense flat round icon="menu" @click="left = !left"/>

          <q-toolbar-title>
            <router-link to="/" class="coest-hover-spin">
              <Logo></Logo>
            </router-link>
          </q-toolbar-title>

          <q-btn
            flat
            dense
            round
            color="white"
            :loading="false"
            size="18px"
            icon="settings"
            text-color="purple-9"
            @click="option = !option"
          >
            <template #loading>
              <q-spinner-dots color="purple-9"/>
            </template>
            <template #default>
              <q-tooltip
                content-class="coest-font-dosis-tooltip text-weight-bolder"
                anchor="bottom middle"
                self="top middle">
                Setting
              </q-tooltip>
            </template>
          </q-btn>
          <q-btn dense flat round size="18px" icon="account_circle" @click="right = !right">
            <q-tooltip
              content-class="coest-font-dosis-tooltip text-weight-bolder"
              anchor="bottom middle"
              self="top middle">
              Profile
            </q-tooltip>
          </q-btn>
          <q-btn
            flat
            dense
            round
            color="white"
            :loading="false"
            size="18px"
            icon="logout"
            @click="logout"
            text-color="purple-9"
            :style="activeDialog ? `margin-right: ${scrollbarWidth}px` : ''"
          >
            <template #loading>
              <q-spinner-facebook color="purple-9"/>
            </template>
            <template #default>
              <q-tooltip
                content-class="coest-font-dosis-tooltip text-weight-bolder"
                anchor="bottom middle"
                self="top middle"
              >
                Sign out
              </q-tooltip>
            </template>
          </q-btn>
        </q-toolbar>
      </q-header>

      <SideMenu v-model="left"></SideMenu>

      <q-drawer
        overlay
        elevated
        side="right"
        v-model="right"
        :width="activeDialog ? 300 + scrollbarWidth : 300"
      >
        <Profile :data="user" @close="left = right = false"></Profile>
        <div :style="`${activeDialog ? `width: ${scrollbarWidth}px` : ''}; background-color: red`"></div>
      </q-drawer>

      <q-page-container style="background: #EEEEEE">
        <router-view/>
      </q-page-container>

      <footer class="bg-grey-8 text-white q-pa-md coest-font-dosis-only text-weight-bolder">
        <div>&copy;{{ new Date().getFullYear() }} <strong>COEST</strong></div>
      </footer>
    </Authenticator>

    <Setting v-model="option"/>

  </q-layout>
</template>

<script>
import SideMenu from "components/SideMenu";
import Authenticator from "components/Authentication/Authenticator";
import Logo from "components/Information/Logo";
import {LocalStorage, scroll} from 'quasar';
import Profile from "components/Information/Profile";
import Setting from "components/Setting";
import {mapFields} from "vuex-map-fields";

export default {
  name: 'MainLayout',
  components: {Setting, Profile, Logo, Authenticator, SideMenu},
  data: () => ({
    //Dialog
    option: false,

    left: false,
    right: false,

    user: {}
  }),
  computed: {
    scrollbarWidth() {
      const {getScrollbarWidth} = scroll;
      return getScrollbarWidth();
    },
    ...mapFields('auth', [
      'token',
      'lock'
    ]),
    /**
     * This one will determine if there is an active dialog and
     * append scrollbar width to prevent right menu from jumping
     */
    ...mapFields('layout', [
      'activeDialog'
    ])
  },
  watch: {
    /** Only true if there is an active dialog */
    option(value) {
      this.activeDialog = value
    }
  },
  methods: {
    /** Logout */
    logout() {
      this.left = this.right = false
      this.$axios().get('/auth/logout')
        .then((res) => res.status === 200 && this.$logout())
    }
  }
}
</script>
